.img-g-general-container{
    display: flex;
}

.img-g-modal-container{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.24);
}

.img-g-modal-btn-close{

}

.img-g-modal-btn-prev{

}

.img-g-modal-btn-next{

}

.img-g-modal-img-container{

}

.img-g-modal-img{

}

.img-g-images-container{
    display: flex;
    width: 100%;
    margin-top: 2px;
    margin-left: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.img-g-images-single-container{
    display: flex;
}

.img-g-images-single{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px #cbd6dc solid;
    transition: 0.3s;
}

.img-g-images-single:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
}

.img-g-images-single-hidden{
    display: none;
}

