

.cardDetailsContainer{
    display: flex;
    height: 100vh;
    padding-top: 70px;
    background-color: red;
    flex-direction: column;
}

.goBackCardDetailContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 130px;
    position:absolute;
    margin-left: 30px;
    margin-top: 20px;
    z-index: 1;
}

.goBackCardDetail{
    display: flex;
    color: black;
    background-color: transparent;
    font-size: 20px;
    text-decoration: none;
}

.btnGoBack{
    display: flex;
    font-size: 20px;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aquamarine;
}

.detailsImgContainer{
    display: flex;
    width: 100%;
    height: 350px;
    background-color: white;
}

.detailsImg{
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 4px 3px -1px;
}

.galleryContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.detailsTypeOf{
    display: flex;
    font-size: 20px;
    margin-left: 5px;
}

.detailsName{
    display: flex;
    font-size: 50px;
}

.detailsDescription{
    display: flex;
    font-size: 20px;
    margin-left: 5px;
}

.detailsPrice{
    display: flex;
    font-size: 20px;
    margin-left: 5px;
}

