.profileContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ececec;
    justify-content: flex-start;
    align-items: center;
}
.ep-modal-in-pf{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.24);
}
body.ep-modal-in-pf{
    height: 100vh;
    overflow-y: hidden;
}

.userData{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    height: 500px;
    background-color: rgb(247, 247, 247);
    border: 1px #cbd6dc solid;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.3s;
}

.userData:hover{
    box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
}

/* .goBackProfileContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 20px;
}

.goBackProfile{
    display: flex;
    text-decoration: none;
    color: black;
    margin-bottom: 2px;
    margin-left: 10px;
}

.iconGoBackProfile{
    display: flex;
} */

.redBorder{
    display: flex;
    width: 100%;
    border-top: 5px #d50000 solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.imgUser {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.userHeadline{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 40px;
}

.userNameProfile{
    font-size: 30px;
}

.userHeadLineText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionProfile{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 170px;
    background-color: rgb(247, 247, 247);
    border: 1px #cbd6dc solid;
    border-radius: 5px;
    transition: 0.3s;
}

.descriptionProfileText{
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
}

.userProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 61px;
}

.linkProfileP{
    display: flex;
    text-decoration: none;
    color: #3B3B3B;
}