.profileContainer{
    display: flex;
    width: 100%;
    padding-top: 70px;
    background-color: aqua;
    justify-content: space-around;
}

.userData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 545px;
    background-color: orange;
}

.goBackProfileContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 20px;
}

.goBackProfile{
    display: flex;
    text-decoration: none;
    color: black;
    margin-bottom: 2px;
    margin-left: 10px;
}

.iconGoBackProfile{
    display: flex;
}

.imgUser {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.userHeadline{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 40px;
}

.userNameProfile{
    font-size: 30px;
}

.userHeadLineText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionProfile{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    width: 95%;
    height: 200px;
}

.descriptionProfileText{
    display: flex;
    background-color: violet;
    align-self: flex-start;
    margin-top: 20px;
}

.userProducts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}