.landingPageContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.imgLanding {
    margin-left: 420px;
    position: fixed;
    height: 100vh;
    width: 70%;
    object-fit: cover;
    z-index: 1;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
}

.welcomeLanding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    font-size: 15px;
}

.logoLanding{
    object-fit: cover;
    width: 150px;
    height: 80px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 520px;
    height: 100%;
    background-color: #ececec;
    border-right: 2px #d50000 solid;
    z-index: 2;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.97);
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 500px;
    margin-left: 80px;
    background-color: rgb(247, 247, 247);
    border: 1px #cbd6dc solid;
    border-radius: 5px;
    transition: 0.3s;
}

.formLogin:hover{
    box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
}

.textFormLogin {
    display: flex;
    font-size: 17px;
    width: 271px;
}

.inputLogin {
    display: flex;
    height: 30px;
    width: 271px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonLoginDisabled{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 276px;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: gray;
    box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    transition: 0.3s;
}

.buttonLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 276px;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #d50000;
    box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 12px 14px -16px rgba(0, 0, 0, 0.47);
    transition: 0.3s;
}

.buttonLogin:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #860000;
}

.buttonLogin:active{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #750000;
}

.orDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #d50000;
    width: 78%;
    height: 1px;
}

.textOr{
    display: flex;
    justify-content: center;
    width: 40px;
    background-color: rgb(247, 247, 247);
}

.registerLogin {
    display: flex;
    text-decoration: none;
    color: black;
}

.registerLogin:hover {
    display: flex;
    text-decoration: none;
    color: #d50000;
}

/* ERRORES */

.showErrorEmail {
    display: flex;
    color: red;
    margin: 0;
    font-size: 12px;
    margin-top: -15px;
}