@media screen and (min-width: 900px) {
    .nav {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 70px;
        width: 100%;
        background: #49562A;
        border-image: linear-gradient(to right, #222222, #444444) 1;
    }

    .navText {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
    }

    .navText:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-size: 21px;
        font-weight: 600;
        width: 15%;
    }

}
